<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edu05.coffeapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".coffeeActivity">
        </activity>
        <activity android:name=".OrderCheckActivity" />
        <activity android:name=".ForResultActivity">
        </activity>
        <activity android:name=".TargetActivity" />
        <activity android:name=".WebBrowserActivity">
        </activity>
        <activity android:name=".WeatherActivity">
        </activity>
        <activity android:name=".Memo2Activity" />
        <activity
            android:name=".MemoActivity"
            android:label="@string/title_activity_memo"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".BankActivity">
        </activity>
        <activity android:name=".OpenAccountActivity" />
        <activity android:name=".AccountCheckActivity" />
        <activity android:name=".AdminModeActivity" />
        <activity android:name=".ListviewActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>